.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    margin-bottom: 10px;
    width: 200px;
}

.form button {
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
}

.form .cadastrar {

    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9 51%, #1D976C 100%);

    margin: 10px;
    padding: 15px 45px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form .cadastrar:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.form .cancelar {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    margin: 10px;
    padding: 15px 45px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form .cancelar:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}